body {
    background-color: rgb(202, 24, 24);
}
h1 {
    font-family: 'Garamond', serif;
    font-size: 50px;
    text-align: center;
    color: rgb(255, 242, 0);
}
p {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 25px;
    color: rgb(255, 235, 106)
}
