body {
    background-color: rgb(80, 130, 83);
}
h1 {
    font-family: 'Garamond', serif;
    font-size: 50px;
    text-align: center;
    color: white;
}
p {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 25px;
    color: white
}
